[package]
authors = ["langyo <langyo.china@gmail.com>"]
name = "tairitsu"

version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "^1"
bytes = "^1"
serde = { version = "^1", features = ["derive"] }
serde_json = "^1"
thiserror = "^1"

wasmtime = { version = "^25", features = ["component-model"] }
wasmtime-wasi = "^25"
wit-bindgen = "^0.39"
wit-component = "^0.222"

tokio = { version = "^1", features = ["rt", "sync", "time"] }

[build-dependencies]
wit-bindgen = "^0.39"
