[workspace]
members = ["packages/vm", "examples/hybrid", "examples/wit-native-b", "packages/tairitsu-macros", "examples/wit-native-a"]
resolver = "2"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = "abort"
