[workspace]
members = ["packages/*", "examples/*"]
resolver = "2"

[patch.crates-io]
# Local development version for easier debugging
tairitsu-macros = { path = "packages/macros" }

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = "abort"
