[workspace]
members = ["packages/vm", "examples/wit-native-simple", "packages/macros", "examples/wit-native-macro"]
resolver = "2"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = "abort"
