[config]
default_to_workspace = false
skip_core_tasks = true

[tasks.run]
script = '''
#!@duckscript

echo "Building WASM guest module..."
exec cargo build --target wasm32-wasip1 --release --package tairitsu-example-hybrid

echo ""
echo "Running native host..."
exec cargo run --package tairitsu-example-hybrid --bin host
'''

[tasks.build]
script = '''
#!@duckscript

echo "Building WASM guest module..."
exec cargo build --target wasm32-wasip1 --release --package tairitsu-example-hybrid

echo ""
echo "Building native host..."
exec cargo build --release --package tairitsu-example-hybrid --bin host
'''
